# <h3>Yearly Period</h3>

In [3]:
import pandas as pd
y = pd.Period('2020')
y    # A -> Annual DEC -> December

Period('2020', 'A-DEC')

In [5]:
dir(y)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_delta',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_typ',
 'asfreq',
 'day',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [4]:
y.start_time

Timestamp('2020-01-01 00:00:00')

In [6]:
y.week

53

In [7]:
y.weekday

3

In [8]:
y.end_time

Timestamp('2020-12-31 23:59:59.999999999')

In [10]:
y.is_leap_year

True


<h3>Monthly Period</h3>

In [16]:
m = pd.Period('2020-1', freq='M')
m

Period('2020-01', 'M')

In [17]:
m.start_time

Timestamp('2020-01-01 00:00:00')

In [18]:
m.end_time

Timestamp('2020-01-31 23:59:59.999999999')

In [19]:
m+1

Period('2020-02', 'M')

<h3> Daily Period</h3>

In [20]:
d = pd.Period('2020-02-28', freq='D')
d

Period('2020-02-28', 'D')

In [21]:
d.is_leap_year

True

In [22]:
d.start_time

Timestamp('2020-02-28 00:00:00')

In [23]:
d.end_time

Timestamp('2020-02-28 23:59:59.999999999')

In [24]:
d+1

Period('2020-02-29', 'D')

<h3>Hourly Period</h3>

In [28]:
h = pd.Period('2020-08-15 8:00:00 PM',freq='H')
h

Period('2020-08-15 20:00', 'H')

In [29]:
h.start_time

Timestamp('2020-08-15 20:00:00')

In [30]:
h.end_time

Timestamp('2020-08-15 20:59:59.999999999')

In [33]:
h-6

Period('2020-08-15 14:00', 'H')

In [34]:
#Achieve same results using pandas offsets hour
h+pd.offsets.Hour(1)

Period('2020-08-15 21:00', 'H')

<h3>Quarterly Period
</h3>

In [36]:
# 4 qurter -> 1 querter => 3 month
q1= pd.Period('2020Q1')
q1

Period('2020Q1', 'Q-DEC')

In [37]:
q1.start_time

Timestamp('2020-01-01 00:00:00')

In [38]:
q1.end_time

Timestamp('2020-03-31 23:59:59.999999999')

In [44]:
q2 = q1+1    # 2nd quertile
q2.start_time

Timestamp('2020-04-01 00:00:00')

In [45]:
q3 = q1+2
q3.start_time  # 3rd

Timestamp('2020-07-01 00:00:00')

In [47]:
q4 = q1 + 3
q4.start_time

Timestamp('2020-10-01 00:00:00')

In [48]:
q4.end_time

Timestamp('2020-12-31 23:59:59.999999999')

In [52]:
# q1= pd.Period('2017Q1', freq='Q-JAN')

q= pd.Period('2017Q1', freq='Q-DEC')
q

Period('2017Q1', 'Q-DEC')

In [53]:
q.start_time

Timestamp('2017-01-01 00:00:00')

In [54]:
q.end_time

Timestamp('2017-03-31 23:59:59.999999999')

<h5>Use asfreq to convert period to a different frequency</h5>

In [55]:
q.asfreq('M',how='start')

Period('2017-01', 'M')

In [56]:
q.asfreq('M',how='end')

Period('2017-03', 'M')

<h3>Weekly Period </h3>

In [69]:
w = pd.Period('2020-07-01',freq='W')
w

Period('2020-06-29/2020-07-05', 'W-SUN')

In [70]:
w.start_time

Timestamp('2020-06-29 00:00:00')

In [71]:
w.end_time

Timestamp('2020-07-05 23:59:59.999999999')

In [72]:
w-2    # that means 14 days -

Period('2020-06-15/2020-06-21', 'W-SUN')

In [73]:
w1 = pd.Period('2020-08-15',freq='W')
w1

Period('2020-08-10/2020-08-16', 'W-SUN')

In [75]:
w1.start_time

Timestamp('2020-08-10 00:00:00')

In [76]:
w.start_time

Timestamp('2020-06-29 00:00:00')

In [74]:
w1-w

In [77]:
w+6

Period('2020-08-10/2020-08-16', 'W-SUN')

<h3>PeriodIndex and period_range<h3>

In [89]:
r1 = pd.period_range('2016', '2020', freq='q')
r1

PeriodIndex(['2016Q1', '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2',
             '2017Q3', '2017Q4', '2018Q1', '2018Q2', '2018Q3', '2018Q4',
             '2019Q1', '2019Q2', '2019Q3', '2019Q4', '2020Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [90]:
r1[0]

Period('2016Q1', 'Q-DEC')

In [91]:
r1[0].start_time

Timestamp('2016-01-01 00:00:00')

In [96]:
r = pd.period_range('2016', '2020', freq='Q-JAN')   # as like date_range 
r
# 2016 calender transform into FISAL 2016 that means 2016Q4

PeriodIndex(['2016Q4', '2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1',
             '2018Q2', '2018Q3', '2018Q4', '2019Q1', '2019Q2', '2019Q3',
             '2019Q4', '2020Q1', '2020Q2', '2020Q3', '2020Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')


<h5>Walmart's fiscal year ends in Jan, below is how you generate walmart's fiscal quarters between 2011 and 2017<h5>
<img src="Walmart_Quartile.PNG" alt="Walmart" width="700" height="900">

In [97]:
r[0]                   # End on January

Period('2016Q4', 'Q-JAN')

In [98]:
r[0].start_time

Timestamp('2015-11-01 00:00:00')

In [99]:
r[0].end_time

Timestamp('2016-01-31 23:59:59.999999999')

In [101]:
import numpy as np
ps = pd.Series(np.random.randn(len(r)), r)
ps

2016Q4   -1.522682
2017Q1    0.490039
2017Q2   -1.249206
2017Q3   -0.366435
2017Q4   -0.417275
2018Q1    0.948247
2018Q2   -0.405362
2018Q3    1.706362
2018Q4   -0.025518
2019Q1    2.222230
2019Q2   -0.095403
2019Q3    0.863437
2019Q4    0.261433
2020Q1   -1.726619
2020Q2    0.750347
2020Q3   -0.424728
2020Q4   -1.961739
Freq: Q-JAN, dtype: float64

In [103]:
ps.index

PeriodIndex(['2016Q4', '2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1',
             '2018Q2', '2018Q3', '2018Q4', '2019Q1', '2019Q2', '2019Q3',
             '2019Q4', '2020Q1', '2020Q2', '2020Q3', '2020Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [104]:
ps['2017']

2017Q4   -0.417275
2018Q1    0.948247
2018Q2   -0.405362
2018Q3    1.706362
2018Q4   -0.025518
Freq: Q-JAN, dtype: float64

In [105]:
ps['2016']

2016Q4   -1.522682
2017Q1    0.490039
2017Q2   -1.249206
2017Q3   -0.366435
2017Q4   -0.417275
Freq: Q-JAN, dtype: float64

In [106]:
ps['2019']

2019Q4    0.261433
2020Q1   -1.726619
2020Q2    0.750347
2020Q3   -0.424728
2020Q4   -1.961739
Freq: Q-JAN, dtype: float64

In [107]:
ps['2016':'2019']

2016Q4   -1.522682
2017Q1    0.490039
2017Q2   -1.249206
2017Q3   -0.366435
2017Q4   -0.417275
2018Q1    0.948247
2018Q2   -0.405362
2018Q3    1.706362
2018Q4   -0.025518
2019Q1    2.222230
2019Q2   -0.095403
2019Q3    0.863437
2019Q4    0.261433
2020Q1   -1.726619
2020Q2    0.750347
2020Q3   -0.424728
2020Q4   -1.961739
Freq: Q-JAN, dtype: float64


<h4>Converting between representations</h4>

In [108]:
pst = ps.to_timestamp()    # convert date time index
pst

2015-11-01   -1.522682
2016-02-01    0.490039
2016-05-01   -1.249206
2016-08-01   -0.366435
2016-11-01   -0.417275
2017-02-01    0.948247
2017-05-01   -0.405362
2017-08-01    1.706362
2017-11-01   -0.025518
2018-02-01    2.222230
2018-05-01   -0.095403
2018-08-01    0.863437
2018-11-01    0.261433
2019-02-01   -1.726619
2019-05-01    0.750347
2019-08-01   -0.424728
2019-11-01   -1.961739
Freq: QS-NOV, dtype: float64

In [109]:
type(pst)

pandas.core.series.Series

In [110]:
pst.index

DatetimeIndex(['2015-11-01', '2016-02-01', '2016-05-01', '2016-08-01',
               '2016-11-01', '2017-02-01', '2017-05-01', '2017-08-01',
               '2017-11-01', '2018-02-01', '2018-05-01', '2018-08-01',
               '2018-11-01', '2019-02-01', '2019-05-01', '2019-08-01',
               '2019-11-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [111]:
pst.to_period()

2015Q4   -1.522682
2016Q1    0.490039
2016Q2   -1.249206
2016Q3   -0.366435
2016Q4   -0.417275
2017Q1    0.948247
2017Q2   -0.405362
2017Q3    1.706362
2017Q4   -0.025518
2018Q1    2.222230
2018Q2   -0.095403
2018Q3    0.863437
2018Q4    0.261433
2019Q1   -1.726619
2019Q2    0.750347
2019Q3   -0.424728
2019Q4   -1.961739
Freq: Q-DEC, dtype: float64

In [113]:
ty = pst.to_period()
type(ty)

pandas.core.series.Series

# <h3>Processing Wal Mart's Financials </h3>

In [19]:
import pandas as pd
df = pd.read_csv("WMT.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87485   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [20]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [21]:
df.columns

Index(['Line Item', '2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [22]:
df.set_index("Line Item",inplace=True)
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87485   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [23]:
df.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [24]:
df.columns

Index(['Revenue', 'Expenses', 'Profit'], dtype='object', name='Line Item')

In [25]:

df.index = pd.PeriodIndex(df.index, freq="Q-JAN")
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87485   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [26]:
df.index[0].start_time

Timestamp('2016-02-01 00:00:00')

In [27]:
df.index[0]

Period('2017Q1', 'Q-JAN')

In [28]:
df.index[0].end_time

Timestamp('2016-04-30 23:59:59.999999999')

In [29]:
df["Start Date"]=df.index.map(lambda x: x.start_time)
df

Line Item  Revenue  Expenses  Profit Start Date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87485   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [30]:
df["End Date"]=df.index.map(lambda x: x.end_time)
df

Line Item  Revenue  Expenses  Profit Start Date                      End Date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87485   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999